<footer class="site-footer">
    <div class="container">
      {% block footer_content %}
      <div class="row">
        <div class="col-md-3">
            <img src="/images/honduras-white-logo.png" width="180" class="logo"/>
        </div>
        <div class="col-md-5 footer-links">
          {% block footer_nav %}
            <p><strong>&nbsp;</strong></p>

            <div class="row">
                <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Datos Abiertos de Honduras</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Gobierno Abierto de Honduras</a></li>
                        </ul>
                        <ul class="list-unstyled">
                        
                        </ul>
                </div>
                <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Publica Datos</a></li>
                            <li><a href="#">Desarrolladores</a></li>
                            <li><a href="#">Guía de Datos Abiertos</a></li>
                        </ul>
                </div>
            </div>
            
          {% endblock %}
        </div>
        <div class="col-md-2 col-md-offset-2 attribution">
          
          {% block footer_lang %}
            {% snippet "snippets/language_selector.html" %}
          {% endblock %}

          {% block footer_attribution %}
            <a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a> <br/><br/>
            <p>{% trans %}<a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
          {% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
  
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>