<footer class="site-footer">
    <div class="container">
      {% block footer_content %}
      <div class="row">
        <div class="col-md-3">
            <img src="/images/honduras-white-logo.png" width="180" class="logo"/>
        </div>
        <div class="col-md-5 footer-links">
          {% block footer_nav %}
            <p><strong>&nbsp;</strong></p>

            <div class="row">
                <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Datos Abiertos de Honduras</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Gobierno Abierto de Honduras</a></li>
                        </ul>
                        <ul class="list-unstyled">
                        
                        </ul>
                </div>
                <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Publica Datos</a></li>
                            <li><a href="#">Desarrolladores</a></li>
                            <li><a href="#">Guía de Datos Abiertos</a></li>
                        </ul>
                </div>
            </div>
            
          {% endblock %}
        </div>
        <div class="col-md-3 col-md-offset-1 attribution">
          
          {% block footer_lang %}
            {% snippet "snippets/language_selector.html" %}
          {% endblock %}

          {% block footer_attribution %}
            <a href="http://www.opendefinition.org/okd/" id="footer-logo-1"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a>
            <p id="footer-logo-2">{% trans %}<a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
            <p class="clearfix"></p>

            <div class="row">
              <div class="col-xs-5">
                <img src="/images/USAID-logo-white.png" class="img-responsive"/>
              </div>
              <div class="col-xs-7">
                <img src="/images/WB_S-WBG-Horizontal-white-web.png" class="img-responsive"/>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-sm-12">
                <p class="footer-desc">Este portal ha sido desarrollado con la asistencia técnica del Banco Mundial y con el financiamiento de la Agencia de los Estados Unidos para el Desarrollo Internacional (USAID)</p>
              </div>
            </div>
          {% endblock %}
        </div>
      </div>

      
      {% endblock %}
    </div>
  
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>
