{% ckan_extends %}

<hgroup class="{{ g.header_class }} navbar-left">
    {% block header_logo %}
        <a class="logo" href="{{ h.url_for('home.index') }}"><img src="/images/honduras-logo.png" alt="{{ g.site_title }}" /></a>
    {% endblock %}
</hgroup>

{% block header_account_logged %}
    <li>
      <a href="/stats" title="{{ _('Stats') }}">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <span class="text">{{ _('Stats') }}</span>
      </a>
    </li>

    {{ super() }}

{% endblock %}

{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
    ('search', _('Datasets')),
    ('organizations_index', _('Organizations ')),
    ('group_index', _('Groups')),
    ('ckanext_showcase_index', _('Showcases')),
    ('home.about', _('About')) )
  }}
{% endblock %}
