<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="col-md-7">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

<div class="totals  hidden-xs hidden-sm">
  <div class="container">
      {# Totals Block #}
      {% block totals %}
        {% snippet 'home/snippets/totals.html' %}
      {% endblock %}
  </div>
</div>

<div class="groups section-pad">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-heading">{% trans %}Groups{% endtrans %}</h2>
          
        </div>
      </div>

      <div class="row">
            {% block featured_group %}
              {% snippet 'home/snippets/featured_group.html' %}
            {% endblock %}
      </div>
      
      <br/><br/>
      <div class="row">
        <div class="col-sm-12 text-center">
          <a href="{% url_for controller="group", action="index" %}" class="btn btn-primary">{% trans %}View Groups{% endtrans %} ></a>
        </div>
      </div>

      </div>

    </div>
  </div>


  <div class="organizations section-pad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">{% trans %}Organizations{% endtrans %}</h2>
            
          </div>
        </div>
  
        <div class="row">
            {% block featured_organization %}
              {% snippet 'home/snippets/featured_organization.html' %}
            {% endblock %}
        </div>
        
        <br/><br/>
        <div class="row">
          <div class="col-sm-12 text-center">
            <a href="{% url_for controller="organization", action="index" %}" class="btn btn-primary">{% trans %}View Organizations{% endtrans %} ></a>
          </div>
        </div>
  
        </div>
  
  </div>


  <!-- News -->
  <div class="news section-pad">
    <div class="container">
      <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading">{% trans %}News{% endtrans %}</h2>
          </div>
  
            
          {% block news %}
            {% snippet 'home/snippets/news.html' %}
          {% endblock %}

      </div>

      <br/><br/>
      <div class="row">
        <div class="col-sm-12 text-center">
            <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_index') }}" class="btn btn-primary">{% trans %}View News{% endtrans %} ></a>
        </div>
      </div>
  
    </div>
  </div>

  <!-- Sub Footer -->
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h3>{% trans %}Open Data Initiative by Government of Honduras{% endtrans %} </h3>
        </div>

        <div class="col-sm-3 text-right">
          <a href="{% url_for controller="package", action="search" %}" class="btn btn-white">{% trans %}View Datasets{% endtrans %}</a>
        </div>
      </div>
    </div>
  </div>
    
