/* Import Less Assets */
/* Variables */
body {
  font-family: 'Lato', sans-serif;
  background: #fff;
}
h1,
h2 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
}
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
h1 {
  color: #806c2f;
  font-size: 40px;
}
a {
  color: #3A53A3;
}
/* Buttons */
.btn-primary {
  background-color: #3A53A3;
  border-color: #3A53A3;
  border-radius: 0;
  font-weight: 400;
}
.btn-light {
  background-color: #fff;
  color: #000;
  border-radius: 0;
  font-weight: 400;
}
.btn-light:hover {
  background-color: #f5f5f5;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #253565 !important;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: #c9302c !important;
}
.no-pad {
  padding: 0;
}
.section-heading {
  font-size: 2.2em;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .section-heading {
    margin-bottom: 15px;
    font-size: 1.7em;
  }
}
.section-pad {
  padding: 40px 0 50px 0;
}
@media only screen and (max-width: 768px) {
  .section-pad {
    padding: 0px 0 30px 0;
  }
}
.hero {
  background: #fff url('/images/hero-bg.png') !important;
  background-size: cover;
  background-position: center center;
}
[role=main] {
  min-height: 400px;
}
@media only screen and (max-width: 768px) {
  [role=main] {
    min-height: 250px;
  }
}
[role=main],
.main {
  padding-top: 0;
}
.masthead {
  background: #fff;
}
.masthead .nav li a {
  color: #525252;
}
.masthead .nav li a:hover {
  background: #3A53A3;
}
.account-masthead {
  padding: 0px 0;
  background: #3A53A3;
}
.site-footer {
  background: #343434;
}
.form-control {
  border-radius: 0;
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: #fff;
}
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
  color: #3A53A3;
}
/* Header */
.account-masthead .account ul li {
  border-left: 0;
}
.account-masthead .account ul li a {
  color: #fff;
  padding: 3px 15px;
}
.account-masthead .account ul li a.sub {
  font-weight: 400;
  background-color: #253565;
}
/* Search */
.homepage .module-search {
  margin-top: 50px;
  padding: 5px;
  color: #fff;
  background: transparent;
}
@media only screen and (max-width: 768px) {
  .homepage .module-search {
    margin-top: 0px !important;
  }
}
.homepage .module-search .module-content .heading {
  font-size: 4em;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #806c2f;
}
@media screen and (max-width: 480px) {
  .homepage .module-search .module-content .heading {
    font-size: 2.2em;
  }
}
.homepage .module-search .module-content {
  border-radius: 0 0;
  background-color: transparent;
  border-bottom: none;
}
.homepage .module-search .tags {
  padding: 5px 10px 10px 10px;
  background-color: transparent;
  border-radius: 0;
}
.homepage .module-search .search-input {
  margin-top: 20px;
}
.homepage .module-search .search-giant input {
  border-color: #3A53A3;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 7px #b7b7b7;
}
.homepage .module-search .tags h3 {
  color: #383838;
  font-family: 'Lato', sans-serif;
}
.homepage .module-search.box {
  background: transparent;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tag {
  display: inline-block;
  color: #fff;
  background-color: #3A53A3;
  padding: 1px 14px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .tag {
    font-size: 14px;
  }
}
a.tag:hover {
  text-decoration: none;
  color: #fff;
  background-color: #3A53A3;
  border: 1px solid #3A53A3;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tag:hover {
  background-color: #253565;
}
/* Homepage Totals */
.totals {
  padding: 40px 0 35px 0;
  background: #3A53A3;
  color: #fff;
}
.totals p,
.totals h4 {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.totals h4 {
  font-size: 2.6em;
  font-weight: 300 !important;
  line-height: 0.9;
}
/* Groups */
.group {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .group {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .group .media-heading {
    font-size: 16px;
  }
}
.group .media-heading a {
  color: #3A53A3 !important;
}
.group .dataset-item {
  margin-top: 10px;
}
.group .dataset-item .dataset-content .dataset-heading {
  font-weight: 600;
}
.group .dataset-item .dataset-content .dataset-heading a {
  color: #565656;
}
.group .dataset-list {
  min-height: 200px;
}
.group p {
  font-size: 0.9em;
}
/* Organizations */
.organization {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .organization {
    margin-bottom: 15px;
    margin-right: 15px;
  }
}
.organization .media-heading a {
  color: #3A53A3 !important;
}
.organization .dataset-item {
  margin-top: 10px;
}
.organization .dataset-item .dataset-content .dataset-heading {
  font-weight: 600;
}
.organization .dataset-item .dataset-content .dataset-heading a {
  color: #565656;
}
.organization .module-image {
  width: 100%;
  float: none;
}
.organization .module-image img {
  max-width: 100%;
  max-height: 400px;
  width: 100%;
}
.organization .module-heading {
  border: 0;
}
@media only screen and (max-width: 768px) {
  .knowledge {
    padding: 25px 0px  30px 0px !important;
  }
}
/*Reutilization Section */
.reuti {
  margin-top: 50px;
  background-color: #3A53A3;
  color: #fff;
  background-image: url('/images/bg-dark.png');
  background-size: cover;
}
.reuti .section-heading {
  margin-bottom: 5px;
}
.reuti .dataset-details h4 {
  font-weight: 600;
  font-size: 1.4em;
  border-bottom: 1px solid #fff;
  margin-bottom: 17px;
  padding-bottom: 6px;
  margin-top: 30px;
}
/* News */
.news {
  margin-bottom: 70px;
}
@media only screen and (max-width: 768px) {
  .news {
    margin-bottom: 30px;
  }
}
.news .news-item {
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .news .news-item {
    margin-right: 15px;
  }
}
.news .news-header {
  position: relative;
  min-height: 150px;
  background-color: #f5f5f5;
}
.news .date {
  padding-bottom: 10px;
  font-style: italic;
}
.news img {
  width: 100%;
}
.news h4 {
  padding: 6px 0 0 0;
}
.news h4 a {
  color: #3A53A3;
  font-size: 1.4em;
  font-weight: 600;
}
/* Sub footer */
.subfooter {
  padding: 30px 0;
  background-color: #3A53A3;
}
.subfooter h3 {
  color: #fff;
  font-size: 2.1em;
  font-weight: 300;
  margin: 0;
  padding: 8px 0 0 0;
}
@media only screen and (max-width: 768px) {
  .subfooter h3 {
    font-size: 1.8em;
  }
}
.subfooter .btn {
  background-color: #fff;
  color: #000;
  padding: 10px 28px;
  font-size: 16px;
  border-radius: 0;
  font-weight: 300;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .subfooter .btn {
    padding: 6px 12px;
    font-size: 14px;
  }
}
.subfooter .btn:hover {
  background-color: #f5f5f5;
}
@media only screen and (max-width: 768px) {
  .subfooter .text-right {
    text-align: left !important;
  }
}
/* footer */
.site-footer {
  padding: 60px 0;
  color: #fff;
}
.site-footer .logo {
  margin-bottom: 40px;
}
.site-footer label,
.site-footer small,
.site-footer strong {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
.site-footer p,
.site-footer a {
  font-size: 15px;
  color: #fff;
}
.site-footer .footer-links ul li {
  margin-bottom: 15px;
}
/* Selector drop-down */
.select2-container .select2-choice .select2-arrow {
  border-left: 0;
  background: #fff;
  filter: none;
  background-image: none;
}
.select2-container .select2-choice {
  height: 34px;
  line-height: 34px;
}
/* Organizations Page */
[role=main],
.main {
  background: #fff;
}
.toolbar {
  background-color: #f5f5f5;
  padding: 0;
}
.toolbar .breadcrumb {
  padding: 10px 0;
}
.toolbar .breadcrumb a {
  color: #3A53A3;
}
.wrapper {
  margin-top: 25px;
}
.wrapper-custom {
  margin-top: 20px;
}
.wrapper-custom .primary {
  border-left: 1px solid #e4e4e4;
}
.wrapper-custom .primary .media-grid {
  background: #fff;
  border: 0;
}
.wrapper-custom .primary .media-grid .media-item {
  border-radius: 0;
  background-color: #f5f5f5;
  width: 30%;
  margin: 0 15px 25px 0;
}
.wrapper-custom .primary .media-grid .media-item .media-heading {
  font-size: 300;
  color: #3A53A3;
  margin-top: 10px;
}
.wrapper-custom .primary .media-grid .media-item a {
  border: 0 !important;
}
.wrapper-custom .primary .media-grid .media-item a:hover {
  border: 2px;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.wrapper-custom .primary .page-header {
  background-color: white !important;
  border-bottom: none !important;
}
.wrapper-custom .primary .nav-tabs {
  border-bottom: none !important;
}
.wrapper-custom .primary .nav-tabs li a {
  background-color: #fff;
  border-bottom: 3px solid transparent;
  border-top: none !important;
  color: #636363 !important;
  border-left: none !important;
  border-right: none !important;
}
.wrapper-custom .primary .nav-tabs li.active a {
  border-bottom: 3px solid #3A53A3;
  color: #3A53A3 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.wrapper-custom .primary .nav-tabs li:hover a {
  border-bottom: 3px solid #3A53A3;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.wrapper-custom .secondary {
  margin-top: 25px;
}
.wrapper-custom .secondary .module-heading {
  margin: 0;
  padding: 10px 25px;
  font-size: 16px;
  line-height: 1.3;
  background-color: #f5f5f5;
  border-top: 0;
  border-bottom: 0;
  font-family: 'Lato', sans-serif;
}
@media screen and (min-width: 720px) {
  .wrapper-custom .secondary {
    padding-right: 30px;
  }
}
.wrapper-custom .module-content h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  color: #636363;
}
.wrapper-custom .module-content label {
  font-weight: 300;
}
.wrapper-custom .form-control {
  border-radius: 4px;
}
.search-input-group #field-giant-search {
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 7px #b7b7b7;
  box-shadow: 0 2px 7px #b7b7b7;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 768px) {
  .search-input-group #field-giant-search {
    z-index: 0;
  }
}
.search-input-group button {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 30px;
  height: 20px;
  padding: 0;
  border: none;
  background: transparent;
  z-index: 99 !important;
  opacity: 0.6;
  outline: none;
}
button:hover,
button:active,
button:focus,
button.active {
  background: transparent !important;
  opacity: 1;
  outline: none !important;
  box-shadow: none;
}
/* Stages */
.stages li.active .highlight {
  background: #3A53A3;
}
.stages li.active:before {
  color: #252525;
}
/* About */
.about .page-heading {
  color: #3A53A3;
}
/* dateset search page */
@media only screen and (max-width: 768px) {
  .dataset-search {
    margin-top: 0px !important;
  }
}
.dataset-search .module-footer {
  padding: 20px 25px 7px;
  border: none !important;
}
@media only screen and (max-width: 768px) {
  .dataset-search .module .module-content {
    padding: 10px !important;
  }
}
.dataset-search .module nav ul li {
  border: none !important;
}
.dataset-search .module nav ul li:after {
  border: none !important;
}
.dataset-search .module .badge {
  color: #636363 !important;
  background-color: transparent !important;
}
.dataset-search .dataset-item .dataset-heading {
  font-size: 20px !important;
  margin-bottom: 3px !important;
}
.dataset-search .dataset-item h3 a {
  color: #3A53A3 !important;
}
.dataset-search .dataset-item .dataset-resources li a {
  padding: 3px 18px 3px 18px !important;
  font-size: 90% !important;
}
.dataset-search .search-form {
  border: none !important;
  margin-bottom: 0px !important;
}
/** dateset read page **/
.dataset-read .module .module-content {
  margin-bottom: 15px !important;
}
.dataset-read .module .module-content .content_action a {
  border-radius: 0px !important;
  padding: 6px 12px;
  font-weight: 400;
  border: 2px solid #d0d0d0;
  color: #7b7b7b;
}
.dataset-read .module .module-content .heading {
  font-family: Lato, sans-serif !important;
  background-color: #f5f5f5 !important;
  border-bottom: none !important;
  margin: 0;
  font-size: 16px;
  color: #333333;
  padding: 10px 25px;
}
.dataset-read .module .module-content .nums {
  border: none !important;
  padding-top: 0px !important;
}
.dataset-read .module .module-content .nums dl dd {
  font-size: 40px !important;
  line-height: 55px !important;
}
.dataset-read .module .module-content .follow_button a {
  padding: 6px 12px;
  border: none !important;
  border-radius: 0px;
  font-size: 14px ;
  font-weight: 400;
  background-color: #40ad40 !important;
}
.dataset-read .module .module-content h1 {
  margin-bottom: 0px !important;
}
.dataset-read .module .module-content .notes {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 20px;
}
.dataset-read .module .module-content .resource-list li a.heading {
  background-color: transparent !important;
}
.dataset-read .module .module-content .tags {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 25px;
}
.dataset-read .module .module-content .tags .well {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
/* Resources page */
.resources .nav-item.active > a span {
  white-space: normal;
}
/* Admin */
.account-masthead .account.authed .image {
  padding: 3px 15px;
}
.btn {
  border-radius: 0;
}
.btn-warning {
  background-color: #c9a926;
  border-color: #c9a926;
}
.wrapper {
  border: 1px solid #e0e0e0;
  border-radius: 0;
}
.page-header {
  background: transparent;
}
.nav-tabs > li > a {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #eee;
}
.nav-tabs > li.active > a {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #253565;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #253565;
}
.nav-tabs > li > a:hover {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #eee;
}
.context-info h1.heading {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  margin-top: 30px;
}
#footer-logo-1 {
  float: left;
}
#footer-logo-2 {
  float: left;
  margin-left: 10px;
}
.footer-desc {
  font-size: 0.9em !important;
}
/**** Responsive CSS *****/
@media only screen and (max-width: 768px) {
  .navbar-toggle {
    margin-right: 20px !important;
    background-color: #3a53a3;
    padding: 6px 10px;
  }
  .navbar-toggle:hover {
    background-color: #3a53a3 !important;
  }
  .navbar-toggle:focus {
    background-color: #3a53a3 !important;
  }
  .navbar-toggle:active {
    background-color: #3a53a3 !important;
  }
  .media-grid .media-item {
    width: 100% !important;
  }
  .group-pg .primary .module-content {
    padding: 0px !important;
  }
  .group-pg .media-image {
    margin: 0 auto;
  }
  .organization-pg .primary .module-content {
    padding: 0px !important;
  }
}
