/* Import Less Assets */

@import "variables.less";

body {
    font-family: 'Lato', sans-serif;
    background: @white;
}

h1,h2{
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
    font-weight:400;
}

h1 {
    color:@secondary-color;
    font-size:40px;
}

.hero {
   
    background: @white url('/images/hero-bg.png');
    background-size: cover;
    background-position: center center;
  
}

[role=main] {
    min-height: 400px;
}

.masthead {
    background-color:@white;
    
}

.masthead .nav li a {
    color:#525252;
}

.masthead .nav li a:hover {
    background: @primary-color;
}

.account-masthead {
    padding:0px 0;
    background: @primary-color;
}

.site-footer {
    background: @alternate-color;
}

.form-control {
    border-radius:0;
}


.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
    background-color: @white;
}

.masthead .nav > li > a:focus, .masthead .nav > li > a:hover,.masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
    color: @primary-color;
}


/* Header */
.account-masthead .account ul li {
    border-left: 0;
}
.account-masthead .account ul li a {
    color:@white;
    padding: 3px 15px;
}
.account-masthead .account ul li a.sub {
     font-weight: 400;
     background-color:@primary-dark-color;
}


/* Search */
.homepage .module-search {
    margin-top: 50px;
}

.homepage .module-search .module-content .heading {
    font-size:50px;
    font-family: 'Cinzel',serif;

    font-weight:400;
    color:@secondary-color;
}

.homepage .module-search .module-content {
    border-radius:0 0; 
    background-color:transparent; 
    border-bottom: none;
}

.homepage .module-search {
    padding: 5px;
    color: @white;
    background: transparent;
}

.homepage .module-search.box {
    background: transparent;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.homepage .module-search .tags {
    padding: 5px 10px 10px 10px;
    background-color: transparent;
    border-radius: 0;
}

.homepage .module-search .search-input {
    margin-top:20px;
}

.homepage .module-search .search-giant input {
    border-color: @primary-color;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 7px #b7b7b7;
}

.homepage .module-search .tags h3 {
    color:#383838;
    font-family: 'Lato', sans-serif;;
}

.tag {
    display: inline-block;
    color: @white;
    background-color: @primary-color;
    padding: 1px 14px;
    border-radius: 4px;
     -webkit-box-shadow: none; 
    box-shadow: none;
    font-size: 18px;
}

a.tag:hover {
    text-decoration: none;
    color: @white;
    background-color:@primary-color;
    border: 1px solid @primary-color;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tag:hover {
    background-color:@primary-dark-color;
}


/* Buttons */
.btn-primary {
    background-color:@primary-color;
    border-color:@primary-color;
    border-radius:0;
    font-weight: 400;
}

.btn-light {
    background-color:@white;
    color:#000;
    border-radius: 0;
    font-weight: 400;
}

.btn-light:hover {
    background-color:@light-grey;
    
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color:@primary-dark-color;
}

.no-pad {
    padding:0;
}

.section-heading {
    font-size:2.2em;
    margin-bottom:30px;
}

.section-pad {
    padding:40px 0 50px 0;
}

/* Homepage Totals */
.totals {
    padding:40px 0 35px 0;
    background: @primary-color;
    color:@white;
}

.totals p,h4 {
    padding:0;
    margin:0;
    font-family: 'Lato', sans-serif;
}

.totals h4{
    font-size: 2.6em;
    font-weight: 100 !important;
    line-height: 0.9;
}


/* Groups */
.group {
    background-color:@light-grey;
    padding:10px;
}

.group .media-heading a {
    color:@primary-color !important; 
}

.group .dataset-item {
    margin-top: 10px;
}

.group .dataset-item .dataset-content .dataset-heading {
    font-weight: 600;
}

.group .dataset-item .dataset-content .dataset-heading a {
    color:#565656
}


/* Organizations */
.organization {
    background-color:@light-grey;
    padding:10px;
}

.organization .media-heading a {
    color:@primary-color !important; 
}

.organization .dataset-item {
    margin-top: 10px;
}

.organization .dataset-item .dataset-content .dataset-heading {
    font-weight: 600;
}

.organization .dataset-item .dataset-content .dataset-heading a {
    color:#565656;
}


/*Reutilization Section */
.reuti {
    margin-top:50px;
    background-color:@primary-color;
    color:@white;
    background-image:url('/images/bg-dark.png');
    background-size: cover;
    .section-heading {
        margin-bottom:5px;
    }

    .dataset-details h4 {
        font-weight: 600;
        font-size:1.4em;
        border-bottom:1px solid @white;
        margin-bottom:17px;
        padding-bottom:6px;
        margin-top:30px;
    }
    
}

/* News */
.news {
    margin-bottom:70px;

    .news-header {
        position: relative;
        min-height:150px;
        background-color:@light-grey;

        .date {
            position: absolute;
            top:10px;
            left:10px;
            color: @white;
            background-color: @secondary-light-color;
            padding: 5px 10px;
            border-radius: 4px;
        }
    }
    img {
        width:100%;
    }
    h4 {
        padding:6px 0;

        a {
            color:@primary-color;
            font-size:1.4em;
            font-weight: 600;
        }
    }
}


/* Sub footer */
.subfooter {
    padding:30px 0;
    background-color:@primary-color;

    h3{
        color:@white;
        font-size:2.1em;
        font-weight:100;
        margin:0;
        padding:8px 0 0 0;
    }

    .btn {
        background-color:@white;
        color:#000;
        padding:10px 28px;
        font-size:16px;
        border-radius:0;
        font-weight:100;
        margin-top: 10px;
    }
    
    .btn:hover {
        background-color:@light-grey;
    }
}


/* footer */
.site-footer {
    padding:60px 0;
    color: @white;

    label, small,strong {
        color: @white;
        font-size: 18px;
        margin-bottom:10px;
    }

    p,a {
        font-size:15px;
        color:@white;
    }

    .footer-links ul li {
        margin-bottom: 15px;
    }
}


/* Selector drop-down */
.select2-container .select2-choice .select2-arrow {
    border-left: 0; 
    background: @white;
    background-image: none; 
    background-image: none;
    background-image: none;
    filter: none;
    background-image: none;
}

.select2-container .select2-choice {
    height: 34px;
    line-height: 34px;
}