{% set posts = h.get_recent_blog_posts(number=3) %}

{% for post in posts %}

  {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) %}

<div class="col-sm-4">
    <div class="news-item">
        <div class="news-content">
          <h4><a href="{{ url }}">{{ post.title }}</a></h4>
          {% if post.publish_date %}
            <div class="date"> {{ h.render_datetime(post.publish_date) }} </div>
          {% endif %}

          {% if post.content %}
              {{ h.markdown_extract(post.content) }}
          {% else %}
            <p class="empty">{{ _('This post currently has no content') }}</p>
          {% endif %}

        </div>
    </div>
</div>

{% endfor %}
