<div class="col-sm-4">
    <div class="news-item">
        <div class="news-header">
            <img src="news-thumb.png" class="img-responsive"/>
        </div>
        <div class="news-content">
            <h4><a href="#">Celebration of "Honduras Digital Challenge"</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas leo purus, venenatis eget mauris in, finibus cursus orci. Phasellus et porttitor tortor.</p>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="news-item">
        <div class="news-header">
            <img src="news-thumb.png" class="img-responsive"/>
        </div>
        <div class="news-content">
            <h4><a href="#">Celebration of "Honduras Digital Challenge"</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas leo purus, venenatis eget mauris in, finibus cursus orci. Phasellus et porttitor tortor.</p>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="news-item">
        <div class="news-header">
            <img src="news-thumb.png" class="img-responsive"/>
        </div>
        <div class="news-content">
            <h4><a href="#">Celebration of "Honduras Digital Challenge"</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas leo purus, venenatis eget mauris in, finibus cursus orci. Phasellus et porttitor tortor.</p>
        </div>
    </div>
</div>
