<div class="col-sm-12">
    <h2 class="section-heading">{% trans %}Reutilizia Datos Abiertos{% endtrans %}</h2>
    <p>{% trans %} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum at. {% endtrans %}</p>
</div>


<div class="col-sm-6">
    <div class="dataset-details">
        <h4>{% trans %}Dataset about enviornment and nature {% endtrans %}</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas Sed imperdiet odio turpis, sit amet semper magna congue non. Nam est nibh, volutpat id scelerisque in, viverra id nunc. Nam ornare odio eu turpis convallis viverra.</p>
        <ul>
            <li>Proin mollis pretium lorem a luctus. Praesent nec metus luctus</li>
            <li>Etiam cursus ipsum risus, quis interdum tortor cursus ac.</li>
            <li>Praesent non odio eget justo accumsan blandit. </li>
        </ul>
        <br/>
        <a href="{{ h.url_for('/pages/reutilizia-datos-abiertos') }}" class="btn btn-light">{% trans %}Read More{% endtrans %} ></a>
    </div>
</div>

<div class="col-sm-6">
    <div class="dataset-details">
        <h4>{% trans %}Dataset about enviornment and nature {% endtrans %}</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas Sed imperdiet odio turpis, sit amet semper magna congue non. Nam est nibh, volutpat id scelerisque in, viverra id nunc. Nam ornare odio eu turpis convallis viverra.</p>
        <ul>
            <li>Proin mollis pretium lorem a luctus. Praesent nec metus luctus</li>
            <li>Etiam cursus ipsum risus, quis interdum tortor cursus ac.</li>
            <li>Praesent non odio eget justo accumsan blandit. </li>
        </ul>
        <br/>
        <a href="{{ h.url_for('/pages/reutilizia-datos-abiertos') }}" class="btn btn-light">{% trans %}Read More{% endtrans %} ></a>
    </div>
</div>