<div class="row">

    <div class="col-sm-4">
        <div class="col-xs-4 text-right">
            <img src="icon-datasets.png" width=50/>
        </div>
        <div class="col-xs-4 no-pad text-left">
            <h4>255</h4>
            <p>{% trans %}Datasets{% endtrans %}</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="col-xs-4 text-right">
            <img src="icon-organizations.png" width=50/>
        </div>
        <div class="col-xs-4 no-pad text-left">
            <h4>72</h4>
            <p>{% trans %}Organizations{% endtrans %}</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="col-xs-4 text-right">
            <img src="icon-groups.png" width=60/>
        </div>
        <div class="col-xs-4 no-pad text-left">
            <h4>21</h4>
            <p>{% trans %}Groups{% endtrans %}</p>
        </div>
    </div>

</div>