{%  set counts = h.get_site_statistics() %}
<div class="row">

    <div class="col-md-4">
        <div class="row">
            <div class="col-xs-4 text-right">
                <img src="images/icon-datasets.png" width=50/>
            </div>
            <div class="col-xs-4 no-pad text-left">
                <h4>{{ counts.dataset_count }}</h4>
                <p>{% trans %}Datasets{% endtrans %}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="col-xs-4 text-right">
                <img src="images/icon-organizations.png" width=50/>
            </div>
            <div class="col-xs-4 no-pad text-left">
                <h4>{{ counts.organization_count }}</h4>
                <p>{% trans %} Organizations{% endtrans %}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="col-xs-4 text-right">
                <img src="images/icon-groups.png" width=60/>
            </div>
            <div class="col-xs-4 no-pad text-left">
                <h4>{{ counts.group_count }}</h4>
                <p>{% trans %}Groups{% endtrans %}</p>
            </div>
        </div>
    </div>

</div>
